#gridify-measure {
  width: 0;
  height: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: -1000;
  overflow: hidden;
  white-space: nowrap;
}

.measures > .buttons {
  gap: 0;
}

.measures > .buttons > button {
  border-radius: 0;
  border-left: 1px solid var(--background-secondary);
  border-right: 1px solid var(--background-secondary);
  text-transform: lowercase;
}

.measures > .buttons > button:first-of-type {
  border-top-left-radius: var(--button-border-radius);
  border-bottom-left-radius: var(--button-border-radius);
  border-left: none;
}

.measures > .buttons > button:last-child {
  border-top-right-radius: var(--button-border-radius);
  border-bottom-right-radius: var(--button-border-radius);
  border-right: none;
}
